
body { 
  margin: 0;
  height: 100%;
  background-color:#E2DED0; 
}

/* Navigation bar menu styles */
.navbar {
  background: rgb(130,127,127);
  background: linear-gradient(90deg, rgba(130,127,127,1) 0%, rgba(52,52,52,1) 51%, rgba(130,127,127,1) 100%);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position:fixed;
  z-index:999;
}
.navbar_header {
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}
.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:auto;
}
.navbar a:hover {
  color: #E4D4C8;

}
.navbar a.active{
 background-color: #ddd;
 color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  gap: 10px;
  margin: 5%;
}
.grid-item {
  border: 1px solid black;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  transition: all 0.3s ease-in-out;
}
.grid-item img:hover {
  filter: blur(0);
}
.grid-item .text {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 15px;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  bottom: 0;
}
.grid-item:hover .text {
  transform: translateY(0);
}
/*.grid-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-item video:hover {
  filter: blur(0);
}
*/

/* Media query for mobile devices */
@media screen and (max-width: 768px) {

  .navbar a:not(:first-child) {
    display: none;
  }
  
  .navbar.responsive a {
    float: right;
    display: block;
    text-align: left;
  }
  .icon-bar{
    display:none;
  }
  .previous {
    background-color: #111;
    color: black;
  }
  .grid {
    padding-right:2.3%;
  }
}
@media screen and (max-width:480px){
  .grid {
    padding-right: 5%;
  }
}
